<div class="card horizontal">
  <div class="card-stacked">
    <div class="card-content">
      <%= content_tag(:div, "開催済み", class: "card-finished") if event.event_at < Date.current %>
      <%= event.image.attached? ? image_tag(event.image_resize(280)) : image_tag('noimage.png') %>
      <%= link_to event.title, event_path(event), class: "event-title" %><br />
      <div class="card-content-memo">
        <i class="material-icons tiny">location_on</i><%= event.location %><br />
        <i class="material-icons tiny">access_time</i><%= l event.event_at if event.event_at.present? %>
      </div>
    </div>
    <% if user_signed_in? && event.user_id == current_user.id %>
    <div class="card-action">
      <%= link_to '開催を中止する', event, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    <% end %>
  </div>
</div>
