<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, placeholder: '具体的な説明を書きましょう！' %>
  </div>

  <div class="field">
    <%= form.label :location %><br />
    <%= form.text_field :location %>
  </div>

  <div class="field row">
    <div class="col s3">
    <%= form.label :price %><br />
    <%= form.number_field :price, placeholder: '数値のみ入力可／単位は円', min: 0 %>
    </div>

    <div class="col s3 push-s1">
    <%= form.label :event_at %><br />
    <%= form.date_field :event_at, class: 'datepicker' %>
    </div>

    <div class="col s3 push-s2">
    <%= form.label :capacity %><br />
    <%= form.number_field :capacity, placeholder: '数値のみ入力可／単位は人', min: 0 %>
    </div>
  </div>

  <div class="field">
    <%= form.label :tag_list, "タグ一覧" %><br />
    <% Event.tag_counts.each do |tag| %>
      <label>
        <%= form.check_box :tag_list, { multiple: true , include_hidden: false}, tag[:name] %>
        <span><%= tag.name %></span>
      </label>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :image %><br />
    <%= form.file_field :image %>
  </div>

  <br />

  <div class="actions">
    <%= form.submit  class: 'btn waves-effect waves-light' %>
  </div>
<% end %>
