<h1>勉強会を検索する</h1>

<div class="row">
  <%= search_form_for @search do |f| %>
  <%= f.search_field :title_cont, placeholder: "例：Ruby Rails Vue.js 英語　などなど", class: "col s10"  %>
  <%= f.submit "検索", class: "btn waves-effect waves-light col s1", data: { disable_with: "送信中..." }  %>
  <%= link_to 'クリア', request.path, class: "btn waves-effect waves-light col s1", data: { disable_with: "送信中..." } %>
  <% end %>
</div>

<br />

<div class="right">
<%= sort_link(@search, :created_at, "投稿日で並び替える", hide_indicator: false) %>
<%= sort_link(@search, :event_at, "開催日で並び替える", hide_indicator: false) %>
</div>

<br />

<div class="row flex">
<% @events.each do |event| %>
  <div class="col s12 m6 l4">
    <div class="card">
      <div class="card-image">
        <%= content_tag(:div, "開催済み", class: "card-finished") if event.event_at < Date.current %>
        <%= event.image.attached? ? image_tag(event.image_resize(200)) : image_tag(Event.find_test_event.image_resize(200))  %>
      </div>
      <div class="card-content">
        <%= link_to event.title, event, class: "event-title" %>
        <%= render 'favorite_link', event: event if user_signed_in? %>
      </div>
    </div>
  </div>
<% end %>
</div>

<%= paginate @events %>
<%= page_entries_info @events %>
