<p>
  <strong>Image:</strong>
  <%= image_tag @event.image.variant(resize:'300x300').processed if @event.image.attached? %>
</p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @event.content %>
</p>

<p>
  <strong>開催日:</strong>
  <%= @event.event_at %>
</p>

<p>
  <strong>開催者:</strong>
  <%= @event.user.name %>
</p>

<p>
  <strong>定員:</strong>
  <%= "#{@event.capacity}名" %>
</p>

<p>
  <strong>参加人数:</strong>
  <%= "#{@event.participants.count}名" %>
</p>

<p>tags: <%= raw(@event.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')) %></p>

<% if current_user.blank? || @event.user.id == current_user.id %>
<% elsif @participant.present? %>
<%= link_to 'キャンセルする', participant_path(@participant.id), method: :delete, class: 'btn waves-effect waves-light' %>
<% elsif @event.capacity ==  @event.participants.count %>
<%= '定員に達しているため参加できません' %>
<% else %>
<%= link_to '参加する', participants_path(event_id: @event.id), method: :post, class: 'btn waves-effect waves-light' %>
<% end %>

<% if @favorite.present? %>
<%= link_to 'あとで見るを取り消す', favorite_path(@favorite.id), method: :delete, class: 'btn waves-effect waves-light' %>
<% else %>
<%= link_to 'あとで見る', favorites_path(event_id: @event.id), method: :post, class: 'btn waves-effect waves-light' %>
<% end %>



<h3>コメント</h3>
<%= render partial: 'comments/form', locals: { comment: @comment, event: @event } if user_signed_in? %>

<div id="comments_area">
<%= render partial: 'comments/index', locals: { comments: @comments, event: @event } %>
</div>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
