<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @event.content %>
</p>

<p>
  <strong>開催者:</strong>
  <%= @event.user.name %>
</p>

<% if @event.user.id == current_user.id %>
<% elsif @participant.present? %>
<%= link_to 'キャンセルする', participant_path(@participant.id), method: :delete, class: 'btn btn-primary' %>
<% else %>
<%= link_to '参加する', participants_path(event_id: @event.id), method: :post, class: 'btn btn-primary' %>
<% end %>

<br>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
