<p>
  <%= @event.image.attached? ? image_tag(@event.image_resize(200)) : image_tag('noimage.png')  %>
</p>

<p>
  <strong>タイトル:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>詳細:</strong>
  <%= @event.content %>
</p>

<p>
  <strong>開催地:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>料金:</strong>
  <%= "#{@event.price}円" %>
</p>

<p>
  <strong>開催日:</strong>
  <%= l @event.event_at if @event.event_at.present? %>
</p>

<p>
  <strong>開催者:</strong>
  <%= link_to @event.user.name , user_path(@event.user) %>
</p>

<p>
  <strong>定員:</strong>
  <%= "#{@event.capacity}名" %>
</p>

<p>
  <strong>参加人数:</strong>
  <%= "#{@event.participants.count}名" %>
</p>

<p>タグ: <%= raw(@event.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')) %></p>

<% if user_signed_in? && current_user != @event.user %>
<%= render 'participate_link', event: @event %>
<br>
<%= render 'favorite_link', event: @event %>
<% end %>


<h3>コメント</h3>
<%= render partial: 'comments/form', locals: { comment: @comment, event: @event } if user_signed_in? %>


<div id="comments_area">
<%= render partial: 'comments/index', locals: { comments: @comments, event: @event } %>
</div>

<%= link_to 'Edit |', edit_event_path(@event) if @event.user_id == current_user.id %>
<%= link_to 'Back', events_path %>
