<p>
  <strong>Image:</strong>
  <%= image_tag @event.image.variant(resize:'300x300').processed if @event.image.attached? %>
</p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @event.content %>
</p>

<p>
  <strong>開催日:</strong>
  <%= @event.event_at %>
</p>

<p>
  <strong>開催者:</strong>
  <%= link_to @event.user.name , user_path(@event.user) %>
</p>

<p>
  <strong>定員:</strong>
  <%= "#{@event.capacity}名" %>
</p>

<p>
  <strong>参加人数:</strong>
  <%= "#{@event.participants.count}名" %>
</p>

<p>tags: <%= raw(@event.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')) %></p>

<% if current_user.present? && current_user != @event.user %>
<div id="participate_link_<%= "#{@event.id}" %>">
<%= render 'participate_link', event: @event %>
</div>

<div id="favorite_link_<%= "#{@event.id}" %>">
<%= render 'favorite_link', event: @event %>
</div>
<% end %>

<h3>コメント</h3>
<%= render partial: 'comments/form', locals: { comment: @comment, event: @event } if user_signed_in? %>

<div id="comments_area">
<%= render partial: 'comments/index', locals: { comments: @comments, event: @event } %>
</div>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
<br />
<%= link_to 'Edit', edit_event_path(@event) %>
<%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %>
